*{
  margin-left: auto auto;
}

.heading_style{
  margin-top: 0;
  padding: 10px 10px;
  background-color: grey;
  color: white;
  text-align: center;
  font-weight: bold;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
}